*.db
*.DS_Store
*.env
*.pyc
*__pycache__/
*venv/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.cache
.env
config.yaml
*.log
*.so
*.mypy_cache
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
coverage.*
.grunt
.lock-wscript
build/Release
node_modules
.npm
.node_repl_history
typings/
lib/*.js
test/*.js
*.map
*.sqlite3*
*.pytest_cache